<%=@game.player.first.name%> attacked <%=@game.player.last.name%>.
<br>

<%=@game.player.last.name%>: <%=@game.player.last.hit_points%>HP
<% if @game.player.last.hit_points == 0 || @game.player.last.hit_points == 0%>
<h1>You Lose</h1>
<% end %>
  
<form action='/play'>
 <input type='submit' value='OK'>
</form>
